.rce-container-smsg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rce-smsg {
  position: relative;
  background: white;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin: 5px 0px;
  padding: 6px 9px 8px 9px;
  float: left;
  max-width: 70%;
  align-items: center;
  justify-content: center;
}

.rce-smsg-red {
  position: relative;
  background: #f6ccd2;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin: 5px 0px;
  padding: 6px 9px 8px 9px;
  float: left;
  max-width: 70%;
  align-items: center;
  justify-content: center;
}

.rce-smsg-green {
  position: relative;
  background: #c9e2d6;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin: 5px 0px;
  padding: 6px 9px 8px 9px;
  float: left;
  max-width: 70%;
  align-items: center;
  justify-content: center;
}

.rce-smsg-yellow {
  position: relative;
  background: #fffdc2;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin: 5px 0px;
  padding: 6px 9px 8px 9px;
  float: left;
  max-width: 70%;
  align-items: center;
  justify-content: center;
}

.rce-smsg-time {
  background: inherit; 
  margin-top: 3px;
  margin-bottom: 3px;
  text-align: center;
  color: #555;
  font-size: 12px;  
  width: 100%;
}

.rce-smsg-text {
  text-align: center;
  display: inline-block;
  font-size: 15px;
}

.rce-smsg-text-green {
  text-align: center;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  color: green;
}

.rce-smsg-text-red {
  text-align: center;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  color: red;
}

.mrgtop-10 {
  margin-top: 10px;   
}

.mrgtop-5 {
  margin-top: 5px;
}
